@import "reset.css";

@font-face {
  font-family: "NotoSansKR";
  src: url("../public/fonts/NotoSans-KR.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans";
  src: url("../public/fonts/NotoSans-EN.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "NotoSansKR", "NotoSans";
}
